In [1]:
import pandas as pd

wh_2015_raw = pd.read_csv('worldHappiness2015.csv', index_col=0).sort_index(axis=0)
gd_raw = pd.read_csv('gender_development_index.csv', index_col=1).sort_index(axis=0)
gi_raw = pd.read_csv('gender_inequality_index.csv', index_col=1).sort_index(axis=0)

In [2]:
wh_2015_raw.info()
wh_2015_raw.head()

<class 'pandas.core.frame.DataFrame'>
Index: 158 entries, Afghanistan to Zimbabwe
Data columns (total 11 columns):
Region                           158 non-null object
Happiness Rank                   158 non-null int64
Happiness Score                  158 non-null float64
Standard Error                   158 non-null float64
Economy (GDP per Capita)         158 non-null float64
Family                           158 non-null float64
Health (Life Expectancy)         158 non-null float64
Freedom                          158 non-null float64
Trust (Government Corruption)    158 non-null float64
Generosity                       158 non-null float64
Dystopia Residual                158 non-null float64
dtypes: float64(9), int64(1), object(1)
memory usage: 14.8+ KB

,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
Country,,,,,,,,,,,
Afghanistan,Southern Asia,153,3.575,0.03084,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210
Albania,Central and Eastern Europe,95,4.959,0.05013,0.87867,0.80434,0.81325,0.35733,0.06413,0.14272,1.89894
Algeria,Middle East and Northern Africa,68,5.605,0.05099,0.93929,1.07772,0.61766,0.28579,0.17383,0.07822,2.43209
Angola,Sub-Saharan Africa,137,4.033,0.04758,0.75778,0.86040,0.16683,0.10384,0.07122,0.12344,1.94939
Argentina,Latin America and Caribbean,30,6.574,0.04612,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.83600

In [3]:
wh_2015 = wh_2015_raw[['Happiness Score']]
wh_2015.info()
wh_2015.head()

<class 'pandas.core.frame.DataFrame'>
Index: 158 entries, Afghanistan to Zimbabwe
Data columns (total 1 columns):
Happiness Score    158 non-null float64
dtypes: float64(1)
memory usage: 2.5+ KB

             Happiness Score
Country
Afghanistan            3.575
Albania                4.959
Algeria                5.605
Angola                 4.033
Argentina              6.574

In [4]:
gd_raw.info()
gd_raw.head()

<class 'pandas.core.frame.DataFrame'>
Index: 163 entries,  Afghanistan to  Zimbabwe
Data columns (total 16 columns):
HDI Rank (2015)    163 non-null int64
2000               140 non-null float64
Unnamed: 3         0 non-null float64
2005               150 non-null float64
Unnamed: 5         0 non-null float64
2010               156 non-null float64
Unnamed: 7         0 non-null float64
2011               157 non-null float64
Unnamed: 9         0 non-null float64
2012               158 non-null float64
Unnamed: 11        0 non-null float64
2013               159 non-null float64
Unnamed: 13        0 non-null float64
2014               159 non-null float64
Unnamed: 15        0 non-null float64
2015               160 non-null float64
dtypes: float64(15), int64(1)
memory usage: 21.6+ KB

,HDI Rank (2015),2000,Unnamed: 3,2005,Unnamed: 5,2010,Unnamed: 7,2011,Unnamed: 9,2012,Unnamed: 11,2013,Unnamed: 13,2014,Unnamed: 15,2015
Country,,,,,,,,,,,,,,,,
Afghanistan,169,0.282,NaN,0.481,NaN,0.580,NaN,0.594,NaN,0.602,NaN,0.607,NaN,0.609,NaN,0.609
Albania,75,0.936,NaN,0.944,NaN,0.959,NaN,0.957,NaN,0.960,NaN,0.960,NaN,0.960,NaN,0.959
Algeria,83,0.788,NaN,0.815,NaN,0.845,NaN,0.845,NaN,0.845,NaN,0.847,NaN,0.849,NaN,0.854
Argentina,45,0.981,NaN,1.001,NaN,0.998,NaN,0.987,NaN,0.989,NaN,0.989,NaN,0.983,NaN,0.982
Armenia,84,0.947,NaN,0.976,NaN,1.002,NaN,1.003,NaN,1.000,NaN,0.998,NaN,0.995,NaN,0.993

In [5]:
gd_clean = gd_raw.dropna(axis=1,how='all')
gd_clean.head()

,HDI Rank (2015),2000,2005,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,
Afghanistan,169,0.282,0.481,0.580,0.594,0.602,0.607,0.609,0.609
Albania,75,0.936,0.944,0.959,0.957,0.960,0.960,0.960,0.959
Algeria,83,0.788,0.815,0.845,0.845,0.845,0.847,0.849,0.854
Argentina,45,0.981,1.001,0.998,0.987,0.989,0.989,0.983,0.982
Armenia,84,0.947,0.976,1.002,1.003,1.000,0.998,0.995,0.993

In [6]:
gd_2015 = gd_clean[['2015']]
gd_2015.info()
gd_2015.head()

<class 'pandas.core.frame.DataFrame'>
Index: 163 entries,  Afghanistan to  Zimbabwe
Data columns (total 1 columns):
2015    160 non-null float64
dtypes: float64(1)
memory usage: 2.5+ KB

               2015
Country
 Afghanistan  0.609
 Albania      0.959
 Algeria      0.854
 Argentina    0.982
 Armenia      0.993

In [7]:
gi_raw.info()
gi_raw.head()

<class 'pandas.core.frame.DataFrame'>
Index: 161 entries,  Afghanistan to nan
Data columns (total 18 columns):
HDI Rank (2015)    161 non-null object
1995               123 non-null float64
Unnamed: 3         123 non-null object
2000               119 non-null float64
Unnamed: 5         0 non-null float64
2005               143 non-null float64
Unnamed: 7         0 non-null float64
2010               149 non-null float64
Unnamed: 9         0 non-null float64
2011               149 non-null float64
Unnamed: 11        0 non-null float64
2012               152 non-null float64
Unnamed: 13        0 non-null float64
2013               150 non-null float64
Unnamed: 15        0 non-null float64
2014               151 non-null float64
Unnamed: 17        0 non-null float64
2015               156 non-null float64
dtypes: float64(16), object(2)
memory usage: 23.9+ KB

,HDI Rank (2015),1995,Unnamed: 3,2000,Unnamed: 5,2005,Unnamed: 7,2010,Unnamed: 9,2011,Unnamed: 11,2012,Unnamed: 13,2013,Unnamed: 15,2014,Unnamed: 17,2015
Country,,,,,,,,,,,,,,,,,,
Afghanistan,169,NaN,NaN,NaN,NaN,0.739,NaN,0.724,NaN,0.713,NaN,0.701,NaN,0.689,NaN,0.676,NaN,0.667
Albania,75,NaN,NaN,0.381,NaN,0.332,NaN,0.273,NaN,0.279,NaN,0.281,NaN,0.272,NaN,0.267,NaN,0.267
Algeria,83,0.680,a,0.627,NaN,0.561,NaN,0.523,NaN,0.514,NaN,0.432,NaN,0.429,NaN,0.429,NaN,0.429
Argentina,45,0.431,a,0.422,NaN,0.374,NaN,0.370,NaN,0.367,NaN,0.366,NaN,0.364,NaN,0.364,NaN,NaN
Armenia,84,0.471,a,0.467,NaN,0.406,NaN,0.344,NaN,0.338,NaN,0.317,NaN,0.308,NaN,0.299,NaN,0.293

In [8]:
gi_clean = gi_raw.dropna(axis=1,how='all').drop(['Unnamed: 3'], axis=1)
gi_clean.head()

,HDI Rank (2015),1995,2000,2005,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,
Afghanistan,169,NaN,NaN,0.739,0.724,0.713,0.701,0.689,0.676,0.667
Albania,75,NaN,0.381,0.332,0.273,0.279,0.281,0.272,0.267,0.267
Algeria,83,0.680,0.627,0.561,0.523,0.514,0.432,0.429,0.429,0.429
Argentina,45,0.431,0.422,0.374,0.370,0.367,0.366,0.364,0.364,NaN
Armenia,84,0.471,0.467,0.406,0.344,0.338,0.317,0.308,0.299,0.293

In [9]:
gi_2015 = gi_clean[['2015']]
gi_2015.info()
gi_2015.head()

<class 'pandas.core.frame.DataFrame'>
Index: 161 entries,  Afghanistan to nan
Data columns (total 1 columns):
2015    156 non-null float64
dtypes: float64(1)
memory usage: 2.5+ KB

               2015
Country
 Afghanistan  0.667
 Albania      0.267
 Algeria      0.429
 Argentina      NaN
 Armenia      0.293

In [10]:
frames = [wh_2015, gd_2015, gi_2015]
wh_by_gdgi = pd.concat(frames, axis=1, sort=True)
wh_by_gdgi.info()
wh_by_gdgi.head(200)

<class 'pandas.core.frame.DataFrame'>
Index: 327 entries,  Afghanistan to nan
Data columns (total 3 columns):
Happiness Score    158 non-null float64
2015               160 non-null float64
2015               156 non-null float64
dtypes: float64(3)
memory usage: 10.2+ KB

                  Happiness Score   2015   2015
 Afghanistan                  NaN  0.609  0.667
 Albania                      NaN  0.959  0.267
 Algeria                      NaN  0.854  0.429
 Argentina                    NaN  0.982    NaN
 Armenia                      NaN  0.993  0.293
...                           ...    ...    ...
Congo (Kinshasa)            4.517    NaN    NaN
Costa Rica                  7.226    NaN    NaN
Croatia                     5.759    NaN    NaN
Cyprus                      5.689    NaN    NaN
Czech Republic              6.505    NaN    NaN

[200 rows x 3 columns]