# World Happiness and Economic Freedom

In [1]:
import pandas as pd
import dwfunctions as dw
import requests
import json
from pandas.io.json import json_normalize

In [2]:
ef_2019_raw = pd.read_csv('economic_freedom_index2019.csv', encoding='latin-1')
dw.strip_column(ef_2019_raw, 'Country')
ef_2019_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 34 columns):
CountryID                      186 non-null int64
Country Name                   186 non-null object
WEBNAME                        186 non-null object
Region                         186 non-null object
World Rank                     180 non-null float64
Region Rank                    180 non-null float64
2019 Score                     180 non-null float64
Property Rights                185 non-null float64
Judical Effectiveness          185 non-null float64
Government Integrity           185 non-null float64
Tax Burden                     180 non-null float64
Gov't Spending                 183 non-null float64
Fiscal Health                  183 non-null float64
Business Freedom               185 non-null float64
Labor Freedom                  184 non-null float64
Monetary Freedom               184 non-null float64
Trade Freedom                  182 non-null float64
Investment Freedom             184 non-null float64
Financial Freedom              181 non-null float64
Tariff Rate (%)                182 non-null float64
Income Tax Rate (%)            183 non-null float64
Corporate Tax Rate (%)         183 non-null float64
Tax Burden % of GDP            179 non-null float64
Gov't Expenditure % of GDP     182 non-null float64
Country                        186 non-null object
Population (Millions)          186 non-null object
GDP (Billions, PPP)            185 non-null object
GDP Growth Rate (%)            184 non-null float64
5 Year GDP Growth Rate (%)     183 non-null float64
GDP per Capita (PPP)           184 non-null object
Unemployment (%)               181 non-null object
Inflation (%)                  182 non-null float64
FDI Inflow (Millions)          181 non-null object
Public Debt (% of GDP)         182 non-null float64
dtypes: float64(24), int64(1), object(9)
memory usage: 49.5+ KB

In [3]:
ef_2019_raw.head()

,CountryID,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,1,Afghanistan,Afghanistan,Asia-Pacific,152.0,39.0,51.5,19.6,29.6,25.2,...,Afghanistan,35.5,$69.6,2.5,2.9,"$1,958",8.8,5.0,53.9,7.3
1,2,Albania,Albania,Europe,52.0,27.0,66.5,54.8,30.6,40.4,...,Albania,2.9,$36.0,3.9,2.5,"$12,507",13.9,2.0,"1,119.1",71.2
2,3,Algeria,Algeria,Middle East and North Africa,171.0,14.0,46.2,31.6,36.2,28.9,...,Algeria,41.5,$632.9,2.0,3.1,"$15,237",10.0,5.6,"1,203.0",25.8
3,4,Angola,Angola,Sub-Saharan Africa,156.0,33.0,50.6,35.9,26.6,20.5,...,Angola,28.2,$190.3,0.7,2.9,"$6,753",8.2,31.7,"-2,254.5",65.3
4,5,Argentina,Argentina,Americas,148.0,26.0,52.2,47.8,44.5,33.5,...,Argentina,44.1,$920.2,2.9,0.7,"$20,876",8.7,25.7,"11,857.0",52.6

In [4]:
ef_2019 = ef_2019_raw[['Country','Region','2019 Score']].rename(columns={'2019 Score':'Economic Freedom Score'}).sort_values(by=['Country'])

ef_2019.head()

       Country                        Region  Economic Freedom Score
0  Afghanistan                  Asia-Pacific                    51.5
1      Albania                        Europe                    66.5
2      Algeria  Middle East and North Africa                    46.2
3       Angola            Sub-Saharan Africa                    50.6
4    Argentina                      Americas                    52.2

In [5]:
#2019 World Happiness Data is the 4th <table> element on page
wh_2019_raw = pd.read_html('https://en.wikipedia.org/wiki/World_Happiness_Report')[4]
dw.strip_column(wh_2019_raw, 'Country or region')
wh_2019_raw.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [6]:
wh_2019 = wh_2019_raw[['Country or region','Score']].rename(columns={'Country or region':'Country', 'Score':'Happiness Score'}).sort_values(by=['Country']).reset_index(drop=True)
wh_2019.head()

       Country  Happiness Score
0  Afghanistan            3.203
1      Albania            4.719
2      Algeria            5.211
3    Argentina            6.086
4      Armenia            4.559

In [7]:
ef_2019.info()
wh_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186 entries, 0 to 185
Data columns (total 3 columns):
Country                   186 non-null object
Region                    186 non-null object
Economic Freedom Score    180 non-null float64
dtypes: float64(1), object(2)
memory usage: 5.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 2 columns):
Country            156 non-null object
Happiness Score    156 non-null float64
dtypes: float64(1), object(1)
memory usage: 2.6+ KB

In [8]:
wh_countries = dw.get_countries(wh_2019)
ef_countries = dw.get_countries(ef_2019)

dw.diff_df(wh_countries, ef_countries, 'WH', 'EF', False)

                    Country
WH 30   Congo (Brazzaville)
   31      Congo (Kinshasa)
   35               Czechia
   56             Hong Kong
   66           Ivory Coast
...                     ...
EF 166          Timor-Leste
   168                Tonga
   169  Trinidad and Tobago
   177        United States
   180              Vanuatu

[62 rows x 1 columns]

In [9]:
newCountryName = {37:wh_countries.loc[31,'Country'], 38:wh_countries.loc[30,'Country'], 
                  72:wh_countries.loc[55,'Country'], 40:wh_countries.loc[65,'Country'],
                  92:wh_countries.loc[73,'Country'], 93:wh_countries.loc[74,'Country'],
                  25:wh_countries.loc[95,'Country'], 103:wh_countries.loc[103,'Country'],
                  150:wh_countries.loc[123,'Country'], 89:wh_countries.loc[127,'Country'],
                  157:wh_countries.loc[128,'Country'], 55:wh_countries.loc[131,'Country']
                 }
for key, value in newCountryName.items():
    dw.change_name(ef_2019, key, 'Country', value)

In [10]:
wh_countries = dw.get_countries(wh_2019)
ef_countries = dw.get_countries(ef_2019)

In [11]:
discrepencies = dw.diff_df(wh_countries, ef_countries, 'WH', 'EF', False)

In [12]:
wh_2019 = dw.remove_country(discrepencies, 'WH', wh_2019)
ef_2019 = dw.remove_country(discrepencies, 'EF', ef_2019)

In [13]:
wh_countries = dw.get_countries(wh_2019)
ef_countries = dw.get_countries(ef_2019)
dw.diff_df(wh_countries, ef_countries, 'WH', 'EF', False)

Empty DataFrame
Columns: [Country]
Index: []

In [14]:
wh_ef = dw.merge_df(wh_2019, ef_2019, 'Country', 'left')
wh_ef.info()
wh_ef.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 151 entries, 0 to 150
Data columns (total 4 columns):
Country                   151 non-null object
Happiness Score           151 non-null float64
Region                    151 non-null object
Economic Freedom Score    146 non-null float64
dtypes: float64(2), object(2)
memory usage: 5.9+ KB

,Country,Happiness Score,Region,Economic Freedom Score
0,Afghanistan,3.203,Asia-Pacific,51.5
1,Albania,4.719,Europe,66.5
2,Algeria,5.211,Middle East and North Africa,46.2
3,Argentina,6.086,Americas,52.2
4,Armenia,4.559,Europe,67.7
5,Australia,7.228,Asia-Pacific,80.9
6,Austria,7.246,Europe,72.0
7,Azerbaijan,5.208,Asia-Pacific,65.4
8,Bahrain,6.199,Middle East and North Africa,66.4
9,Bangladesh,4.456,Asia-Pacific,55.6

In [15]:
wh_ef_2019 = wh_ef.dropna()
wh_ef_2019.info()
wh_ef_2019.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 146 entries, 0 to 150
Data columns (total 4 columns):
Country                   146 non-null object
Happiness Score           146 non-null float64
Region                    146 non-null object
Economic Freedom Score    146 non-null float64
dtypes: float64(2), object(2)
memory usage: 5.7+ KB

,Country,Happiness Score,Region,Economic Freedom Score
0,Afghanistan,3.203,Asia-Pacific,51.5
1,Albania,4.719,Europe,66.5
2,Algeria,5.211,Middle East and North Africa,46.2
3,Argentina,6.086,Americas,52.2
4,Armenia,4.559,Europe,67.7
5,Australia,7.228,Asia-Pacific,80.9
6,Austria,7.246,Europe,72.0
7,Azerbaijan,5.208,Asia-Pacific,65.4
8,Bahrain,6.199,Middle East and North Africa,66.4
9,Bangladesh,4.456,Asia-Pacific,55.6

## Add ISO 3 Country Codes to Dataframe

In [16]:
iso_3 = pd.read_html('https://www.iban.com/country-codes')[0]
iso_3 = iso_3[['Country', 'Alpha-3 code']]

In [17]:
wh_countries = dw.get_countries(wh_ef_2019)
iso_countries = dw.get_countries(iso_3)
dw.diff_df(wh_countries, iso_countries, 'WH', 'ISO', False)

                          Country
WH  14                    Bolivia
    24   Central African Republic
    29                    Comoros
    30        Congo (Brazzaville)
    31           Congo (Kinshasa)
...                           ...
ISO 242  Virgin Islands (British)
    243     Virgin Islands (U.S.)
    244         Wallis and Futuna
    245            Western Sahara
    246                     Yemen

[153 rows x 1 columns]

In [18]:
newCountryName = {26:wh_countries.loc[14,'Country'], 42:wh_countries.loc[24,'Country'],
                  49:wh_countries.loc[29,'Country'], 50:wh_countries.loc[31,'Country'],
                  51:wh_countries.loc[30,'Country'], 63:wh_countries.loc[36,'Country'],
                  81:wh_countries.loc[45,'Country'], 105:wh_countries.loc[59,'Country'],
                  146:wh_countries.loc[89,'Country'], 157:wh_countries.loc[97,'Country'],
                  161:wh_countries.loc[100,'Country'], 175:wh_countries.loc[108,'Country'],
                  183:wh_countries.loc[113,'Country'], 119:wh_countries.loc[125,'Country'],
                  217:wh_countries.loc[132,'Country'], 219:wh_countries.loc[134,'Country'],
                  233:wh_countries.loc[142,'Country'], 234:wh_countries.loc[143,'Country'],
                  240:wh_countries.loc[146,'Country'], 241:wh_countries.loc[147,'Country']
                 }

In [19]:
for key, value in newCountryName.items():
    dw.change_name(iso_3, key, 'Country', value)

In [20]:
wh_countries = dw.get_countries(wh_ef_2019)
iso_countries = dw.get_countries(iso_3)
dw.diff_df(wh_countries, iso_countries, 'WH', 'ISO', False)

                          Country
WH  70                     Kosovo
ISO 1               Åland Islands
    4              American Samoa
    5                     Andorra
    6                      Angola
...                           ...
    242  Virgin Islands (British)
    243     Virgin Islands (U.S.)
    244         Wallis and Futuna
    245            Western Sahara
    246                     Yemen

[113 rows x 1 columns]

In [21]:
wh_countries = dw.get_countries(wh_ef_2019)
iso_countries = dw.get_countries(iso_3)

In [22]:
discrepencies = dw.diff_df(wh_countries, iso_countries, 'WH', 'ISO', False)

In [23]:
iso_3 = dw.remove_country(discrepencies, 'ISO', iso_3)

In [24]:
wh_countries = dw.get_countries(wh_ef_2019)
iso_countries = dw.get_countries(iso_3)
dw.diff_df(wh_countries, iso_countries, 'WH', 'ISO', False)

      Country
WH 70  Kosovo

In [25]:
wh_ef_2019 = dw.merge_df(wh_ef_2019, iso_3, 'Country', 'left')

In [27]:
wh_ef_2019 = wh_ef_2019[['Country', 'Alpha-3 code', 'Region', 'Happiness Score', 'Economic Freedom Score']]
wh_ef_2019.head(10)

,Country,Alpha-3 code,Region,Happiness Score,Economic Freedom Score
0,Afghanistan,AFG,Asia-Pacific,3.203,51.5
1,Albania,ALB,Europe,4.719,66.5
2,Algeria,DZA,Middle East and North Africa,5.211,46.2
3,Argentina,ARG,Americas,6.086,52.2
4,Armenia,ARM,Europe,4.559,67.7
5,Australia,AUS,Asia-Pacific,7.228,80.9
6,Austria,AUT,Europe,7.246,72.0
7,Azerbaijan,AZE,Asia-Pacific,5.208,65.4
8,Bahrain,BHR,Middle East and North Africa,6.199,66.4
9,Bangladesh,BGD,Asia-Pacific,4.456,55.6

In [28]:
wh_ef_2019.loc[69, 'Alpha-3 code'] = 'KSV'

In [29]:
wh_ef_2019.query('Country=="Kosovo"')

   Country Alpha-3 code  Region  Happiness Score  Economic Freedom Score
69  Kosovo          KSV  Europe              6.1                    67.0

In [30]:
#Remove '#' to save .csv file to local drive
wh_ef_2019.to_csv('wh_ef_final.csv', index=False)