# World Happiness and Economic Freedom

In [1]:
import pandas as pd
import dwfunctions as dw
import requests
import json
from pandas.io.json import json_normalize

In [2]:
ef_2019_raw = pd.read_csv('economic_freedom_index2019.csv', encoding='latin-1')
dw.strip_column(ef_2019_raw, 'Country')
ef_2019_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 34 columns):
CountryID                      186 non-null int64
Country Name                   186 non-null object
WEBNAME                        186 non-null object
Region                         186 non-null object
World Rank                     180 non-null float64
Region Rank                    180 non-null float64
2019 Score                     180 non-null float64
Property Rights                185 non-null float64
Judical Effectiveness          185 non-null float64
Government Integrity           185 non-null float64
Tax Burden                     180 non-null float64
Gov't Spending                 183 non-null float64
Fiscal Health                  183 non-null float64
Business Freedom               185 non-null float64
Labor Freedom                  184 non-null float64
Monetary Freedom               184 non-null float64
Trade Freedom                  182 non-null float64
Investment Freedom             184 non-null float64
Financial Freedom              181 non-null float64
Tariff Rate (%)                182 non-null float64
Income Tax Rate (%)            183 non-null float64
Corporate Tax Rate (%)         183 non-null float64
Tax Burden % of GDP            179 non-null float64
Gov't Expenditure % of GDP     182 non-null float64
Country                        186 non-null object
Population (Millions)          186 non-null object
GDP (Billions, PPP)            185 non-null object
GDP Growth Rate (%)            184 non-null float64
5 Year GDP Growth Rate (%)     183 non-null float64
GDP per Capita (PPP)           184 non-null object
Unemployment (%)               181 non-null object
Inflation (%)                  182 non-null float64
FDI Inflow (Millions)          181 non-null object
Public Debt (% of GDP)         182 non-null float64
dtypes: float64(24), int64(1), object(9)
memory usage: 49.5+ KB

In [3]:
ef_2019_raw.head()

,CountryID,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,1,Afghanistan,Afghanistan,Asia-Pacific,152.0,39.0,51.5,19.6,29.6,25.2,...,Afghanistan,35.5,$69.6,2.5,2.9,"$1,958",8.8,5.0,53.9,7.3
1,2,Albania,Albania,Europe,52.0,27.0,66.5,54.8,30.6,40.4,...,Albania,2.9,$36.0,3.9,2.5,"$12,507",13.9,2.0,"1,119.1",71.2
2,3,Algeria,Algeria,Middle East and North Africa,171.0,14.0,46.2,31.6,36.2,28.9,...,Algeria,41.5,$632.9,2.0,3.1,"$15,237",10.0,5.6,"1,203.0",25.8
3,4,Angola,Angola,Sub-Saharan Africa,156.0,33.0,50.6,35.9,26.6,20.5,...,Angola,28.2,$190.3,0.7,2.9,"$6,753",8.2,31.7,"-2,254.5",65.3
4,5,Argentina,Argentina,Americas,148.0,26.0,52.2,47.8,44.5,33.5,...,Argentina,44.1,$920.2,2.9,0.7,"$20,876",8.7,25.7,"11,857.0",52.6

In [4]:
ef_2019 = ef_2019_raw[['Country','2019 Score']].rename(columns={'2019 Score':'Economic Freedom Score'}).sort_values(by=['Country'])

ef_2019.head()

       Country  Economic Freedom Score
0  Afghanistan                    51.5
1      Albania                    66.5
2      Algeria                    46.2
3       Angola                    50.6
4    Argentina                    52.2

In [5]:
#2019 World Happiness Data is the 4th <table> element on page
wh_2019_raw = pd.read_html('https://en.wikipedia.org/wiki/World_Happiness_Report')[4]
dw.strip_column(wh_2019_raw, 'Country or region')
wh_2019_raw.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [6]:
wh_2019 = wh_2019_raw[['Country or region','Score']].rename(columns={'Country or region':'Country', 'Score':'Happiness Score'}).sort_values(by=['Country'])
wh_2019.head()

         Country  Happiness Score
153  Afghanistan            3.203
106      Albania            4.719
87       Algeria            5.211
46     Argentina            6.086
115      Armenia            4.559

In [7]:
ef_2019.info()
wh_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186 entries, 0 to 185
Data columns (total 2 columns):
Country                   186 non-null object
Economic Freedom Score    180 non-null float64
dtypes: float64(1), object(1)
memory usage: 4.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 156 entries, 153 to 145
Data columns (total 2 columns):
Country            156 non-null object
Happiness Score    156 non-null float64
dtypes: float64(1), object(1)
memory usage: 3.7+ KB

In [8]:
wh_countries = wh_2019[['Country']]
ef_countries = ef_2019[['Country']]

pd.concat([wh_countries,ef_countries],keys=['WH', 'EF'], ignore_index=False).drop_duplicates(keep=False)

                                        Country
WH 102                      Congo (Brazzaville)
   126                         Congo (Kinshasa)
   75                                 Hong Kong
   98                               Ivory Coast
   85                                Kyrgyzstan
   104                                     Laos
   130                                  Myanmar
   83                           North Macedonia
   63                           Northern Cyprus
   109                  Palestinian Territories
   37                                  Slovakia
   53                               South Korea
   155                              South Sudan
   134                                Swaziland
   38                         Trinidad & Tobago
EF 3                                     Angola
   9                                    Bahamas
   12                                  Barbados
   15                                    Belize
   22                         Brunei Darussalam
   25                                     Burma
   30                                Cabo Verde
   37   Congo, Democratic Republic of the Congo
   38                        Congo, Republic of
   42                                      Cuba
   40                             Côte d'Ivoire
   46                                  Djibouti
   47                                  Dominica
   52                         Equatorial Guinea
   53                                   Eritrea
   55                                  Eswatini
   57                                      Fiji
   68                             Guinea-Bissau
   69                                    Guyana
   72                             Hong Kong SAR
   87                                  Kiribati
   88                              Korea, North
   89                              Korea, South
   92                           Kyrgyz Republic
   93                                Lao P.D.R.
   99                             Liechtenstein
   102                                    Macau
   103                                Macedonia
   107                                 Maldives
   113                               Micronesia
   127                                     Oman
   130                         Papua New Guinea
   140                              Saint Lucia
   141         Saint Vincent and the Grenadines
   142                                    Samoa
   147                               Seychelles
   150                          Slovak Republic
   152                          Solomon Islands
   157                                    Sudan
   158                                 Suriname
   143                    São Tomé and Príncipe
   166                              Timor-Leste
   168                                    Tonga
   169                      Trinidad and Tobago
   180                                  Vanuatu

In [9]:
newCountryName = {37:wh_countries.loc[126,'Country'], 38:wh_countries.loc[102,'Country'], 
                  72:wh_countries.loc[75,'Country'], 40:wh_countries.loc[98,'Country'],
                  92:wh_countries.loc[85,'Country'], 93:wh_countries.loc[104,'Country'],
                  25:wh_countries.loc[130,'Country'], 103:wh_countries.loc[83,'Country'],
                  150:wh_countries.loc[37,'Country'], 89:wh_countries.loc[53,'Country'],
                  157:wh_countries.loc[155,'Country'], 55:wh_countries.loc[134,'Country']
                 }
for key, value in newCountryName.items():
    dw.change_name(ef_2019, key, 'Country', value)

In [10]:
wh_countries = dw.get_countries(wh_2019)
ef_countries = dw.get_countries(ef_2019)

In [13]:
discrepencies = pd.concat([wh_countries,ef_countries], keys=['WH', 'EF']).drop_duplicates(keep=False)

wh_2019_remove = discrepencies.loc['WH', :].index
wh_2019 = wh_2019.drop(wh_2019_remove, axis=0)
ef__2019_remove = discrepencies.loc['EF', :].index
ef_2019 = ef_2019.drop(ef__2019_remove, axis=0)

KeyError: '[ 63 109  38] not found in axis'

In [12]:
pd.concat([wh_countries,ef_countries], keys=['WH', 'EF']).drop_duplicates(keep=False)

                                 Country
WH 63                    Northern Cyprus
   109           Palestinian Territories
   38                  Trinidad & Tobago
EF 3                              Angola
   9                             Bahamas
   12                           Barbados
   15                             Belize
   22                  Brunei Darussalam
   30                         Cabo Verde
   42                               Cuba
   46                           Djibouti
   47                           Dominica
   52                  Equatorial Guinea
   53                            Eritrea
   57                               Fiji
   68                      Guinea-Bissau
   69                             Guyana
   87                           Kiribati
   88                       Korea, North
   99                      Liechtenstein
   102                             Macau
   107                          Maldives
   113                        Micronesia
   127                              Oman
   130                  Papua New Guinea
   140                       Saint Lucia
   141  Saint Vincent and the Grenadines
   142                             Samoa
   147                        Seychelles
   152                   Solomon Islands
   158                          Suriname
   143             São Tomé and Príncipe
   166                       Timor-Leste
   168                             Tonga
   169               Trinidad and Tobago
   180                           Vanuatu