# World Happiness and Population Density

In [1]:
import pandas as pd
import dwfunctions as dw

In [2]:
popden_2017 = pd.read_csv('populationDensity.csv', usecols=['country', 'Population density (per km2, 2017)']).rename(columns={'country':'Country', 'Population density (per km2, 2017)':'Population Density'})
dw.strip_column(popden_2017, 'Country')
popden_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 2 columns):
Country               229 non-null object
Population Density    229 non-null float64
dtypes: float64(1), object(1)
memory usage: 3.7+ KB

In [3]:
popden_2017.head()

          Country  Population Density
0     Afghanistan                54.4
1         Albania               106.9
2         Algeria                17.3
3  American Samoa               278.2
4         Andorra               163.8

In [4]:
wh_2017 = pd.read_csv('worldHappiness2017.csv', usecols=['Country', 'Happiness Score']).sort_values(by=['Country']).reset_index(drop=True)
dw.strip_column(wh_2017, 'Country')
wh_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 2 columns):
Country            155 non-null object
Happiness Score    155 non-null float64
dtypes: float64(1), object(1)
memory usage: 2.5+ KB

In [5]:
wh_2017.head()

       Country  Happiness Score
0  Afghanistan            3.794
1      Albania            4.644
2      Algeria            5.872
3       Angola            3.795
4    Argentina            6.599

In [6]:
wh_countries = dw.get_countries(wh_2017)
popden_countries = dw.get_countries(popden_2017)

dw.diff_df(wh_countries, popden_countries, 'WH', 'PD', False)

                                   Country
WH 16                              Bolivia
   31                  Congo (Brazzaville)
   32                     Congo (Kinshasa)
   36                       Czech Republic
   55              Hong Kong S.A.R., China
...                                    ...
PD 221                             Vanuatu
   222  Venezuela (Bolivarian Republic of)
   223                            Viet Nam
   224           Wallis and Futuna Islands
   225                      Western Sahara

[114 rows x 1 columns]

In [7]:
newCountryName = {24:wh_countries.loc[16,'Country'], 56:wh_countries.loc[32,'Country'], 
                  48:wh_countries.loc[31,'Country'], 54:wh_countries.loc[36,'Country'],
                  43:wh_countries.loc[55,'Country'], 97:wh_countries.loc[60,'Country'],
                  201:wh_countries.loc[81,'Country'], 165:wh_countries.loc[90,'Country'],
                  192:wh_countries.loc[106,'Country'], 167:wh_countries.loc[115,'Country'],
                  55:wh_countries.loc[126,'Country'], 198:wh_countries.loc[133,'Country'],
                  216:wh_countries.loc[136,'Country'], 217:wh_countries.loc[147,'Country'],
                  222:wh_countries.loc[150,'Country'], 223:wh_countries.loc[151,'Country']
                 }
for key, value in newCountryName.items():
    dw.change_name(popden_2017, key, 'Country', value)

In [8]:
wh_countries = dw.get_countries(wh_2017)
popden_countries = dw.get_countries(popden_2017)

In [9]:
discrepencies = dw.diff_df(wh_countries, popden_countries, 'WH', 'PD', False)

wh_2017 = dw.remove_country(discrepencies, 'WH', wh_2017)
popden_2017 = dw.remove_country(discrepencies, 'PD', popden_2017)

In [10]:
wh_countries = dw.get_countries(wh_2017)
popden_countries = dw.get_countries(popden_2017)
dw.diff_df(wh_countries, popden_countries, 'WH', 'PD', False)

Empty DataFrame
Columns: [Country]
Index: []

In [11]:
wh_popden = dw.merge_df(wh_2017, popden_2017, 'Country', 'left')
wh_popden.info()
wh_popden.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 151 entries, 0 to 150
Data columns (total 3 columns):
Country               151 non-null object
Happiness Score       151 non-null float64
Population Density    151 non-null float64
dtypes: float64(2), object(1)
memory usage: 4.7+ KB

       Country  Happiness Score  Population Density
0  Afghanistan            3.794                54.4
1      Albania            4.644               106.9
2      Algeria            5.872                17.3
3       Angola            3.795                23.9
4    Argentina            6.599                16.2
5      Armenia            4.376               102.9
6    Australia            7.284                 3.2
7      Austria            7.006               106.0
8   Azerbaijan            5.234               118.9
9      Bahrain            6.087              1963.9

In [12]:
#Remove '#' to save .csv file to local drive
#wh_popden.to_csv('wh_popden_final.csv', index=False)